include _header.jade
<div class="pes_block_wr">
    <div class="block_inner">
        <div class="item">
            <div class="name">Peste 100.000 m²</div>
            <div class="text">de fațade montate</div>
        </div>
        <div class="item">
            <div class="name">Peste 80</div>
            <div class="text">de clienți din diverse domenii de afaceri</div>
        </div>
    </div>
</div>
<div class="icon_block_wr">
    <div class="block_inner">
        <div class="item">
            <div class="icon">
                <img src="files/icon1.svg" alt="">
            </div>
            <div class="right">
                <div class="name">10+</div>
                <div class="text">ani de experiență</div>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/icon2.svg" alt="">
            </div>
            <div class="right">
                <div class="name">Garanție </div>
                <div class="text">extinsă pentru lucrări și materiale</div>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/icon3.svg" alt="">
            </div>
            <div class="right">
                <div class="name">Peste 150</div>
                <div class="text">de proiecte finalizate</div>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/icon4.svg" alt="">
            </div>
            <div class="right">
                <div class="name">Echipe</div>
                <div class="text">proprii de montaj</div>
            </div>
        </div>
    </div>
</div>
<div class="ce_block_wr" id="ce-sunt">
    <div class="block_inner">
        <h2 class="title">Ce sunt fatadele ventilate</h2>
        <div class="body">Fațadele ventilate sunt sisteme moderne de închidere a clădirilor, formate dintr-un strat exterior montat pe o structură metalică, cu un spațiu de aer între acesta și izolația termică. Acest spațiu permite circulația aerului, contribuind la protecția clădirii, eficiența energetică și durabilitatea finisajelor.</div>
        <div class="inner">
            <div class="swiper ce_slider">
                <div class="swiper-wrapper">
                    <div class="item swiper-slide">
                        <div class="icon">
                            <img src="files/ce1.svg" alt="">
                        </div>
                        <div class="name">Performanță <br> termică ridicată</div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="icon">
                            <img src="files/ce2.svg" alt="">
                        </div>
                        <div class="name">Protecție eficientă <br> împotriva umezelii</div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="icon">
                            <img src="files/ce3.svg" alt="">
                        </div>
                        <div class="name">Durabilitate pe <br> termen lung</div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="icon">
                            <img src="files/ce4.svg" alt="">
                        </div>
                        <div class="name">Protejează <br> structura clădirii</div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="icon">
                            <img src="files/ce5.svg" alt="">
                        </div>
                        <div class="name">Montaj rapid și <br> curat</div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="icon">
                            <img src="files/ce6.svg" alt="">
                        </div>
                        <div class="name">Izolare fonică <br> îmbunătățită</div>
                    </div>
                </div>
            </div>
            <div class="slider_pagination"></div>
        </div>
    </div>
</div>
<div class="fu_block_wr" id="furnizori">
    <div class="block_inner">
        <h2 class="title"><strong>FURNIZORI EXCLUSIVI</strong> DE PRODUSE PENTRU FAȚADE VENTILATE</h2>
        <div class="inner">
            <div class="row">
                <div class="item" style="background-image: url(files/f1.png);">
                    <div class="name_m">LAMELE</div>
                    <div class="in">
                        <div class="left">
                            <div class="name">LAMELE</div>
                            <div class="text">Fațadele ventilate sunt sisteme moderne de închidere a clădirilor, formate dintr-un strat exterior montat pe o structură metalică, cu un spațiu de aer între acesta și izolația termică. Acest spațiu permite circulația aerului, contribuind la protecția clădirii, eficiența energetică și durabilitatea finisajelor.</div>
                        </div>
                        <div class="right">
                            <img src="files/f1.png" alt="">
                        </div>
                    </div>
                    <div class="link">
                        <a href="">Contactaţi-ne</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(files/f2.png);">
                    <div class="name_m">SISTEME DE FICSARE</div>
                    <div class="in">
                        <div class="left">
                            <div class="name">SISTEME DE FICSARE</div>
                            <div class="text">Fațadele ventilate sunt sisteme moderne de închidere a clădirilor, formate dintr-un strat exterior montat pe o structură metalică, cu un spațiu de aer între acesta și izolația termică. Acest spațiu permite circulația aerului, contribuind la protecția clădirii, eficiența energetică și durabilitatea finisajelor.</div>
                        </div>
                        <div class="right">
                            <img src="files/f2.png" alt="">
                        </div>
                    </div>
                    <div class="link">
                        <a href="">Contactaţi-ne</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item" style="background-image: url(files/f3.png);">
                    <div class="name_m">OMBRE</div>
                    <div class="in">
                        <div class="left">
                            <div class="name">OMBRE</div>
                            <div class="text">Fațadele ventilate sunt sisteme moderne de închidere a clădirilor, formate dintr-un strat exterior montat pe o structură metalică, cu un spațiu de aer între acesta și izolația termică. Acest spațiu permite circulația aerului, contribuind la protecția clădirii, eficiența energetică și durabilitatea finisajelor.</div>
                        </div>
                        <div class="right">
                            <img src="files/f3.png" alt="">
                        </div>
                    </div>
                    <div class="link">
                        <a href="">Contactaţi-ne</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(files/f4.png);">
                    <div class="name_m">TABLA PERFORATA</div>
                    <div class="in">
                        <div class="left">
                            <div class="name">TABLA PERFORATA</div>
                            <div class="text">Fațadele ventilate sunt sisteme moderne de închidere a clădirilor, formate dintr-un strat exterior montat pe o structură metalică, cu un spațiu de aer între acesta și izolația termică. Acest spațiu permite circulația aerului, contribuind la protecția clădirii, eficiența energetică și durabilitatea finisajelor.</div>
                        </div>
                        <div class="right">
                            <img src="files/f4.png" alt="">
                        </div>
                    </div>
                    <div class="link">
                        <a href="">Contactaţi-ne</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_block_wr" id="servicii">
    <div class="block_inner">
        <h2 class="title">SERVICII PROPUSE</h2>
    </div>
    <div class="inner">
        <div class="item active">
            <div class="bg_img">
                <img src="files/s1.jpg" alt="">
            </div>
            <div class="name">PROIECTARE</div>
            <div class="body">
                <div class="body_name">PROIECTARE</div>
                <div class="text">Elaborarea documentației tehnice, adaptată arhitecturii clădirii, condițiilor climatice și materialelor alese.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
        <div class="item">
            <div class="bg_img">
                <img src="files/s2.jpg" alt="">
            </div>
            <div class="name">CONSULTATIE TEHNICA</div>
            <div class="body">
                <div class="body_name">CONSULTATIE TEHNICA</div>
                <div class="text">Asistență completă – de la alegerea sistemului până la recomandări privind exploatarea.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
        <div class="item">
            <div class="bg_img">
                <img src="files/s2.jpg" alt="">
            </div>
            <div class="name">CALCULARE</div>
            <div class="body">
                <div class="body_name">CALCULARE</div>
                <div class="text">Calcul al încărcărilor de vânt, pierderilor de căldură și materialelor necesare pentru implementare eficientă.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
        <div class="item">
            <div class="bg_img">
                <img src="files/s3.jpg" alt="">
            </div>
            <div class="name">MASURARE</div>
            <div class="body">
                <div class="body_name">MASURARE</div>
                <div class="text">Măsurători precise pe șantier pentru o proiectare corectă și alegerea sistemelor de prindere.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
        <div class="item">
            <div class="bg_img">
                <img src="files/s5.jpg" alt="">
            </div>
            <div class="name">MONTARE</div>
            <div class="body">
                <div class="body_name">MONTARE</div>
                <div class="text">Montaj profesional realizat de echipe proprii, certificate și cu experiență.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
        <div class="item">
            <div class="bg_img">
                <img src="files/s6.jpg" alt="">
            </div>
            <div class="name">DESIGN</div>
            <div class="body">
                <div class="body_name">DESIGN</div>
                <div class="text">Realizarea conceptului vizual și alegerea culorilor în armonie cu arhitectura clădirii.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
        <div class="item">
            <div class="bg_img">
                <img src="files/s7.jpg" alt="">
            </div>
            <div class="name">REZULTATE</div>
            <div class="body">
                <div class="body_name">REZULTATE</div>
                <div class="text">O fațadă estetică, durabilă și eficientă energetic, perfect adaptată cerințelor clientului.</div>
                <a href="" class="link">Contactaţi-ne</a>
            </div>
        </div>
    </div>
</div>
<div class="la_block_wr" id="lucrarile">
    <div class="block_inner">
        <h2 class="title"><strong>LUCRARILE FINISATE</strong></h2>
        <div class="inner">
            <div class="swiper la_slider">
                <div class="swiper-wrapper">
                    <div class="item swiper-slide">
                        <div class="image">
                            <a href="files/l1.jpg">
                                <img src="files/l1.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <div class="year">2024 год</div>
                            <div class="name">Магазин Kaufland, mun. Chisinau </div>
                            <div class="params">
                                <div class="row">Площадь фасада: <span>4000 м2</span></div>
                                <div class="row">Тип фасада: <span>вентилируемый фасад</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="image">
                            <a href="files/l2.jpg">
                                <img src="files/l2.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <div class="year">2024 год</div>
                            <div class="name">Магазин Kaufland, mun. Chisinau </div>
                            <div class="params">
                                <div class="row">Площадь фасада: <span>4000 м2</span></div>
                                <div class="row">Тип фасада: <span>вентилируемый фасад</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="image">
                            <a href="files/l1.jpg">
                                <img src="files/l1.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <div class="year">2024 год</div>
                            <div class="name">Магазин Kaufland, mun. Chisinau </div>
                            <div class="params">
                                <div class="row">Площадь фасада: <span>4000 м2</span></div>
                                <div class="row">Тип фасада: <span>вентилируемый фасад</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="image">
                            <a href="files/l1.jpg">
                                <img src="files/l1.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <div class="year">2024 год</div>
                            <div class="name">Магазин Kaufland, mun. Chisinau </div>
                            <div class="params">
                                <div class="row">Площадь фасада: <span>4000 м2</span></div>
                                <div class="row">Тип фасада: <span>вентилируемый фасад</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="la_pagination"></div>
    </div>
</div>
<div class="co_block_wr" id=companii>
    <div class="block_inner">
        <h2 class="title"><strong>COMPANII</strong> CARE AU ÎNCREDERE ÎN NOI</h2>
        <div class="inner">
            <div class="swiper co_slider">
                <div class="swiper-wrapper">
                    <div class="item swiper-slide">
                        <img src="files/c1.jpg" alt="">
                    </div>
                    <div class="item swiper-slide">
                        <img src="files/c1.jpg" alt="">
                    </div>
                    <div class="item swiper-slide">
                        <img src="files/c1.jpg" alt="">
                    </div>
                    <div class="item swiper-slide">
                        <img src="files/c1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade